.container-fluid h1 {
    margin-top:0px;
    font-family: 'Montserrat';
    color: #FD5523;
    /* font-size: 100px; */
}

.title {
    font-size:100px;
}

h3.slogan {
    font-family: 'Mate SC';
    color: #FEFCD5;
}
.container-fluid .lead .btn {
    background-color: #967AA1 !important;
    border-radius: 20px !important;
    border: none;
    margin-top:0px;
}

.container-fluid {
    background-image: url("../images/background.png");
    width: 100%;
    /* height:800px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#firstlogo {
    margin-top:200px;
    max-width:430px;
    max-height:205px;
    width: auto;
    height: auto;
}

p.green{
    color: #FEFCD5;
}

p.green.top{
    margin-top: 50px;
}

#video {
    background-image: url("../images/background.png");
}
#videobottom {
    height:100px;
    background-color:#34344A;
    width:100%;
    border-radius: 0px 0px 11000px 11000px;
    background-image: url("../images/background.png");
}

#about {
    padding-bottom:50px;
}

h3.white {
    font-family: 'Montserrat';
    color: #FD5523;
    text-align:left;
}

p.white {
    font-family: 'Roboto';
    color: #34344A;
    text-align:left;
}

p.white.center {
    text-align: center;
    margin-top:20px;
}

ul.white {
    font-family: 'Roboto';
    color: #34344A;
    text-align:left;
}

h1.dark {
    font-family: 'Montserrat';
    color: #FD5523;
    text-align:left;
}

h1.dark.center {
    text-align: center;
    margin-bottom:50px;
}

h3.dark {
    font-family: 'Montserrat';
    color: #FD5523;
    text-align:left;
}

h3.dark.center {
    text-align: center;
}

p.dark {
    font-family: 'Roboto';
    color: #FEFCD5;
    text-align:left;
}

#background-header {
    text-align: center;
    font-size:100px;
}

#background-section-container2{
    background-image: url("../images/backgroundsection.png");
    min-height:1300px;
    height: auto;
}

#background-section {
    margin-top:300px;
}

.textcard {
    background-color: #34344A;
    border-radius:25px;
    padding:50px;
    max-width:600px;
    margin-top:20px;
    margin-left:80px;
}

#offsetcard {
    margin-top: 0px;

}
#offsetcard2 {
    margin-top: 20px;

}

.observations-icons {
    width:50%;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.storyboard{
    max-width:100%;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.storyboard.two{
}

#designprocess {
    width: 80%;
    min-width: 400px;
    min-height:500px;
}
.sectioncontainer {
    margin-top:50px;
    margin-bottom: 50px;
}
#designprocessheader {
    text-align: right;
}

p.gray {
    color: #66CAAD;
    font-family: 'Montserrat';
}

#users{
    width: 100%;
    height: 1100px;
    background-image: url("../images/Empathisesection.png");
}

.textcard.users{
    float:right;
    margin-right: 50px;
}

.dark.empathise {
    text-align: center;
    margin-bottom:50px;
}

.row.center {
    align-items: center;
}

.lightcard {
    background-color: #C2F9C4;
    border-radius:25px;
    padding:50px;
    margin-top:20px;
}

.lightcard.three{
    min-width: 300px;
    min-height: 500px;
}
.lightcard.three p.white{
    margin-top: 20px;
}

#journeymap {
    width:100%;
}

#problem-statement{
    margin-top:100px;
}

.white.list {
    font-family: 'Roboto';
    color: #34344A;
    text-align:left;
}

.box {
    display: inline;
    width: 500px;
    padding: 10px;
    border: 1px solid rgb(199, 199, 199);
    margin: 0;
    box-shadow: 0 3px 10px -2px gray;
    border-radius: 25px;
    margin-right:10px;
    margin-left:10px;
}

.row.ideas{
    margin-top:20px;
    margin-bottom:20px;
}

.container.directions{
    margin-bottom:50px;
    margin-top:50px;
}

#direction {
    box-shadow: 0 3px 15px -2px gray;
}

.container-fluid.prototypes{
    background-image: url("../images/direction1.png");
    height: 1400px;
}

#prototype2{
    width:100%;
}

.row.direction2 {
    width:100%;
    margin-left:0px;
}

.textcard.direction2{
    margin-left:0px;
    float: right;
}

.textcard.direction1{
    margin-left:0px;
    float: right;
}

.container-fluid.user-flow{
    background-image: url("../images/userflow.svg");
    width:100%
}

.cover-container {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.cover-item
{
    position: relative;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

#vuejsvideo{
    float: right;
}

img.tech {
    float: left;
}

.phoneanimations {
    margin-top:90px;
}

#banner {
    padding:25px;
    height:auto;
    width:100%;
    border-radius: 25px;
    background-image: url("../images/bannerbg.png");
}
.lastp{
    color:white;
    text-align: center;
    font-weight: 500;
}

.reflection{
    margin-top:25px;
}